@use "~@skyscanner/backpack-web/bpk-mixins";

.card {
  @include bpk-mixins.bpk-border-radius-md;
  @include bpk-mixins.bpk-padding;
  @include bpk-mixins.bpk-text;
}

.heading {
  @include bpk-mixins.bpk-heading-2;
}
